body {
  margin:0;
  font-family: "Lato", sans-serif
}


.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
width: 100%
}

.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background: #ddd;
  color: black;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px;
}

p {
  font-size: 20px;
}

li {
  font-size: 20px;
}

img {
  float: right;
}

tr{
  font-size:20px;
}

th{
  font-size:30px;
}

button{
    height:30px;
    width:100px;
}
